@charset "utf-8";
/* CSS Document */
body {
	text-align: center;
}
#Kodex {

	width: 813px;	height: 696px;
	text-align: center;
	margin: 10px auto;
	line-height: 1.5;
	background: #E3E4EE;
	font-family: "나눔스퀘어", "맑은 고딕";
	font-weight: bold;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid #dddddd;
	color: #0A1533;

}

#Kodex_search {
	width: 700px;
	text-align: left;
	margin: 0px auto;
}

th {

	font-weight: bold;
	font-size: 21px;
	border: 1px solid #dddddd;

}

td {

	font-weight: bold;
	border: 1px solid #dddddd;

}

.kodex_ind {

	background: #5A688A;
	color:	white;

}

.kodex_bind {

	background: #00B4FF;
	color: white;

}

.kodex_imgRank {

	background: #FFEB3B;

}
